@use '../abstracts/variables' as *;

body {
  font-family: $font-family-base;
  font-size: 1.25rem;
  color: $color-text;
  background-color: $color-background;
  line-height: 1.5;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}
